<div class="row">
    <!-- <app-line-chart [calificaciones]="calificaciones" ></app-line-chart> -->
    <!-- <div class="col-xs-12 col-sm-6">
        <app-bar-chart></app-bar-chart>
    </div>
    <div class="col-xs-12 col-sm-6">
        <app-pie-chart2></app-pie-chart2>

    </div> -->
</div>

<div class="container">

    <app-loading *ngIf="isLoading"></app-loading>
    <div class="card recent-sales overflow-auto" *ngIf="!isLoading">

        <div class="card-body">

            <table class="table table-borderless datatable table-striped">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Id</th>
                        <th>Email</th>
                        <th>Asistencia</th>
                        <th>Asistencia opt</th>
                        <th>Notificar</th>
                        <!-- <th class="text-nowrap">Acciones</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr style="border-left: 2px solid cornflowerblue; border-spacing: 2px;"
                        *ngFor="let client of clients  |  paginate: { itemsPerPage: count, currentPage: p } let i = index;">

                        <td>{{client.name}} </td>
                        <td>{{client.n_doc}} </td>
                        <td>{{client.email}} </td>
                        <td>
                            <span *ngIf="client.asistencia; else noAsistio"><i class="fa fa-check-circle-o text-success"
                                    aria-hidden="true"></i></span>
                            <ng-template #noAsistio><i class="fa fa-info-circle text-danger"
                                    aria-hidden="true"></i></ng-template>
                        </td>
                        <td>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox"
                                    [id]="'flexSwitchCheckDefault'+client.id" [(ngModel)]="client.asistencia"
                                    (change)="guardarAsistencia(client, $event)">
                                <label class="form-check-label"
                                    [for]="'flexSwitchCheckDefault'+client.id">Asistió</label>

                            </div>
                        </td>
                        <td>
                            <button class="btn btn-outline-primary" *ngIf="client.asistencia"
                                (click)="openEmailModal(i)">
                                <i class="fa fa-envelope"></i>
                            </button>
                        </td>

                    </tr>
                </tbody>

            </table>

            <pagination-controls (pageChange)="p = $event"></pagination-controls>

        </div>

    </div>

    <!-- Button trigger modal -->




</div>