
<div class="row">
    <!-- <app-line-chart [calificaciones]="calificaciones" ></app-line-chart> -->
    <!-- <div class="col-xs-12 col-sm-6">
        <app-bar-chart></app-bar-chart>
    </div>
    <div class="col-xs-12 col-sm-6">
        <app-pie-chart2></app-pie-chart2>

    </div> -->
</div>

<div class="container">
    
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="card recent-sales overflow-auto" *ngIf="!isLoading">

        <div class="card-body">

            <table class="table table-borderless datatable table-striped">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Email</th>
                        <th>Asistencia</th>
                        <th>Asistencia opt</th>
                        <th>Notificar</th>
                        <!-- <th class="text-nowrap">Acciones</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr style="border-left: 2px solid cornflowerblue; border-spacing: 2px;"
                        *ngFor="let califi of clients  |  paginate: { itemsPerPage: count, currentPage: p } let i = index;">

                    
                        <td>{{califi.name}} </td>
                        <td>{{califi.email}} </td>
                        <td>
                            <span *ngIf="califi.asistencia; else noAsistio">Asistió</span>
                            <ng-template #noAsistio>No asistió</ng-template>
                        </td>
                        <td>
                            <div class="form-check form-switch" (change)="guardarAsistencia(califi, event)">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [(ngModel)]="califi.asistencia">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Asistió</label>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-outline-primary" *ngIf="califi.asistencia" (click)="openEmailModal(califi)">
                                <i class="fa fa-envelope"></i>
                            </button>
                        </td>
                        
                    </tr>
                </tbody>

            </table>

            <pagination-controls (pageChange)="p = $event"></pagination-controls>

        </div>

    </div>

   <!-- Button trigger modal -->




</div>