/* .notificador {
    z-index: 1050;
    width: auto;
    position: fixed;
    bottom: 40px;
    left: 4px;
} */

.notificador {
    z-index: 1050;
    /* // width: auto; */
    width: 98vw;
    position: fixed;
    bottom: 40px;
    left: 4px;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}