<!-- =======| Main |======= -->

<div class="modal fade" id="viewPayment" tabindex="-1" aria-labelledby="catModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="catModalLabel">{{title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="onClose()"></button>
            </div>
            <div class="modal-body">
                 <section class="section dashboard">

            <div class="card pagodetail border-radio">
                <div class="col-xs-12 col-sm-6">
                    <p><b>Referencia:</b> {{pagoSeleccionado?.referencia}}</p>
                    <p><b>Status: &nbsp;</b>
                        <span class="badge bg-success" *ngIf="pagoSeleccionado?.status === 'APPROVED'">Aprobado</span>
                        <span class="badge bg-primary" *ngIf="pagoSeleccionado?.status === 'PENDING'">Pendiente</span>
                        <span class="badge bg-danger" *ngIf="pagoSeleccionado?.status === 'REJECTED'">Rechazado</span>
                    </p>
                    <p *ngIf="pagoSeleccionado?.status_deuda" ><b>Status deuda: &nbsp;</b> 
                        <!-- {{pagoSeleccionado?.status_deuda}} -->
                    <span class="badge bg-success" *ngIf="pagoSeleccionado?.status_deuda === 'PAID'">Pagado</span>
                        <span class="badge bg-warning" *ngIf="pagoSeleccionado?.status_deuda === null">Pendiente</span>
                        <span class="badge bg-danger" *ngIf="pagoSeleccionado?.status_deuda === 'DEUDA'">Deuda</span>
                    </p>
                    <p><b>Nombre de la cuenta:</b> {{pagoSeleccionado?.nombre}}</p>
                    <p><b>email de la cuenta:</b> {{pagoSeleccionado?.email}}</p>
                    <p><b>Cliente:</b> {{pagoSeleccionado?.client?.name}} {{pagoSeleccionado?.client?.surname}} </p>
                    <p><b>Evento:</b> {{pagoSeleccionado?.event?.name}}</p>
                    <p><b>Fecha del Evento:</b> {{pagoSeleccionado?.event?.fecha_inicio | date}}</p>
                    
                    <p><b>Fecha | Hora del pago:</b> {{pagoSeleccionado?.created_at | date:'MMM d, y, h:mm:ss a'}}</p>
                    <p><b>Metodo de Pago:</b> {{pagoSeleccionado?.metodo.tipo}}</p>
                    <div *ngIf="pagoSeleccionado?.bank_name">
                        <p><b>Nombre del Banco:</b> {{pagoSeleccionado?.bank_name}}</p>
                    </div>
                    <div >
                        <p><b>Banco Destino:</b> {{pagoSeleccionado?.bank_destino}}</p>
                    </div>

                    <p><b>Monto:</b>
                        {{pagoSeleccionado?.monto|currency}}
                        <!-- <span *ngIf="pagoSeleccionado?.metodo ==='Transferencia Bolívares' || pagoSeleccionado?.metodo ==='payment Móvil'">
                            {{pagoSeleccionado?.monto|currency:'Bs.'}}

                        </span>
                        <span *ngIf="pagoSeleccionado?.metodo ==='Transferencia Dólares'">
                            {{pagoSeleccionado?.monto|currency}}
                        </span> -->
                    </p>
              
                    
                </div>
                <div class="col-xs-12 col-sm-6">

                    <img [src]="pagoSeleccionado?.avatar| imagenPipe: 'payments' " style="width:100%; padding: 10px;
                border: 1px solid #ccc;
                margin-top: 30px;" class="shadow" alt="">
                </div>


            </div>


        </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="onClose()">Cerrar</button>
            </div>
        </div>
    </div>
</div>
