<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" *ngIf="role === 'GUEST' || role === '' || !role ">
                <li>
                    <a routerLink="/" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="fas fa-home"></i><span class="hide-menu">Inicio </span>
                    </a>
                </li>

                <li>
                    <a [routerLink]="['/dashboard/partner/edit/', user.id]" routerLinkActive="active"
                        class="waves-effect waves-dark">
                        <i class="fas fa-user"></i><span class="hide-menu">Mi Perfil </span>
                    </a>
                </li>
                
                
            </ul>
            
            <ul id="sidebarnav" >
                <li >
                    <a routerLink="/" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="fas fa-home"></i><span class="hide-menu">Inicio </span>
                    </a>
                </li>
                <li *ngIf="role === 'SUPERADMIN'">
                    <a routerLink="../dashboard/companies" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="fas fa-building"></i><span class="hide-menu">Empresas </span>
                    </a>
                </li>
                <li *ngIf="role === 'SUPERADMIN' || role === 'ADMIN'">
                    <a routerLink="../dashboard/partners" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="fas fa-handshake"></i><span class="hide-menu">Partners </span>
                    </a>
                </li>
                <li *ngIf="role === 'SUPERADMIN' || role === 'ADMIN' || role ==='PARTNER'">
                    <a routerLink="../dashboard/eventos" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="fa fa-star"></i><span class="hide-menu">Eventos </span>
                    </a>
                </li>
                
                <li *ngIf="role === 'SUPERADMIN' || role === 'ADMIN' || role ==='PARTNER'">
                    <a routerLink="../dashboard/clientes" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="fa fa-address-book"></i><span class="hide-menu">Clientes </span>
                    </a>
                </li>
                <li *ngIf="role === 'SUPERADMIN' || role === 'ADMIN' || role ==='PARTNER'">
                    <a routerLink="../dashboard/payments" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="fas fa-money-bill"></i><span class="hide-menu">Pagos </span>
                    </a>
                </li>
            
                <li *ngIf="role === 'SUPERADMIN' || role === 'ADMIN' || role ==='PARTNER'"> 
                    <a routerLink="../dashboard/config" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="fa fa-cogs"></i><span class="hide-menu">Configuración </span>
                    </a>
                </li>
                <li *ngIf="role === 'SUPERADMIN' || role === 'ADMIN' || role ==='PARTNER'"> 
                    <a routerLink="../dashboard/categories" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="fa fa-bookmark"></i><span class="hide-menu">Categorias </span>
                    </a>
                </li>
                <li *ngIf="role === 'SUPERADMIN' || role === 'ADMIN' || role ==='PARTNER'"> 
                    <a routerLink="../dashboard/tasabcv" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="fa fa-chart-bar"></i><span class="hide-menu">Tasa BCV </span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/dashboard/partner/edit/', user.id]" routerLinkActive="active"
                        class="waves-effect waves-dark">
                        <i class="fa fa-id-card"></i><span class="hide-menu">Mi Perfil </span>
                    </a>
                </li>
                
                <!-- <li>
                    <a routerLink="video" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="mdi mdi-animation"></i><span class="hide-menu">Video </span>
                    </a>
                </li> -->
            </ul>
            <ul id="sidebarnav">
                <li>
                    <a (click)="logout()"
                        class="waves-effect waves-dark">
                        <i class="fa fa-power-off"></i><span class="hide-menu">Salir</span>
                    </a>
                </li>
            </ul>
            
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->