
.btns {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}

.btns ion-icon {
    font-size: 1.5em;
    color: var(--black);
}

.btns ion-icon:nth-child(2) {
    display: none;
}

.btns .menuToggle ion-icon {
    font-size: 3em;
}

.btns.active ion-icon:nth-child(2) {
    display: block;
}

.btns.active ion-icon:nth-child(1) {
    display: none;
}

body .dark {
    background-color: var(--black);
}


/* acordion */

.dark .accordion-button,
.dark .accordion-body {
    color: var(--white);
    background-color: var(--black);
}

.dark .loginregister {
    background: var(--black) !important;
}

.dark .loginregister .main {
    background: var(--black) !important;
    border: 1px solid var(--white) !important;
}

.dark .swal2-popup.swal2-toast {
    background: var(--black);
}

.dark .profile .profile-edit label {
    font-weight: 600;
    color: var(--white);
}


/* cart */

.dark .header__cart img.ligth {
    display: none;
}

.dark .header__cart img.darker {
    display: block;
}

.dark .header__cart--notification {
    background-color: var(--white);
    color: var(--black);
}

.dark .cart-modal--active {
    background-color: var(--black);
    color: var(--white);
}

.dark .cart-modal__price span {
    color: var(--white);
}

.dark .profile .profile-card .social-links a {
    color: var(--white);
}

.dark .historial ul li a {
    color: var(--white) !important;
}

.dark .historial ul li a:hover {
    color: var(--white) !important;
    background-color: var(--black) !important;
}

.dark .page-wrapper,
.dark .footer {
    background-color: var(--black);
}

.dark .page-wrapper {
    background-color: var(--black);
}

.dark .footer small {
    color: var(--white) !important;
}

.dark .logo-text-dark {
    display: none;
}

.dark .logo-text-light {
    display: block;
}

.dark .card-no-border .left-sidebar,
.dark .card-no-border .sidebar-nav {
    background-color: var(--black) !important;
    background: var(--black) !important;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark p {
    color: var(--white);
}


/* nuevo */

.dark {
    background-color: var(--fondo-negro);
}

.dark .dropdown-menu{
    background-color: var(--fondo-negro);
    color: var(--white);
}



.dark #logoNuevo{
    /* filter: drop-shadow(1px 1px 1px white); */
    /* filter: invert(1); */
    filter: contrast(0);
}

/* header   */
.dark .header .sidemenu nav li::before {
    border-top: 1px solid var(--white);
}

.dark .header .sidemenu nav a {
    color: var(--white);
    text-transform: capitalize;
}

.dark .header {
    background: var(--fondo-negro);
    color: var(--white);
}
.dark .sidemenu {
    background: var(--fondo-negro);
    color: var(--white);
    border-right: 1px solid transparent;
    box-shadow: 0px 0 39px transparent;
}
.dark .sidemenu.active {
    background: var(--fondo-negro);
    color: var(--white);
    border-right: 1px solid #333;
    box-shadow: 0px 0 39px #000;
}
.dark .menu-top {
    background: var(--fondo-negro);
    color: var(--white);
}
.dark .menu-footer {
    background: var(--fondo-negro);
    color: var(--white);
    border-top: 1px solid #333;
}

.dark .sidemenu .close::before,
.dark .sidemenu .close::after {
    background: rgb(255, 255, 255);
}

.dark .navbarM a {
    background-color: var(--fondo-negro);
    box-shadow: 0 2px 5px 0 rgba(165, 164, 164, 0.37)
}

.dark .navbarM a p {
    color: #fff;
}

.dark .navbarM a img {
    filter: invert(30%) sepia(100%) saturate(0%) hue-rotate(234deg) brightness(118%) contrast(119%);
}


.dark .dark-logo{
     display: block;
    filter: contrast(0);
    transform: translateY(10px);
}

.dark .header .menuright .menu {
    background-color: var(--black);
    border: 1px solid var(--white);
}
.dark .sidemenu-toggler>span {
    display: block;
    background-color: #d2cece;
    height: 2px;
}

.dark .header2 {
    background: var(--black);
}

/* .dark .globoblack {
    display: block;
    height: 35px;
    width: 35px;
    margin-top: 17px;
    
} */
.dark .globowhite {
    filter:invert(1);
    
}

.globowhite {
    display: block;
    height: 35px;
    width: 35px;
    margin-top: 17px;
}


/* .globoblack {
    display: none;
    
} */

/* categoria */

.dark .local_categoria_item .contenido {
    background-color: var(--black);
    color: #fff;
}

.dark .info_local h3, 
.dark .info_local p {
    color: #fff;
}

.dark .categoria_home a p {
    color: var(--white);
}

.dark .top h2{
    color: #fff;
}


.dark .card {
    background-color: var(--fondo-cuadros-negro);
    /* border: 1px solid #ccc; */
    /* border-radius: 18px; */
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
    /* min-height: 30vh;
    padding: 20px;
    margin-bottom: 40px;
    width: 100%;
    display: flex; */
    color: var(--white);
}

.dark .card-no-border .left-sidebar, .dark .card-no-border .sidebar-nav {
    background: #131820 !important;
}
/* tabla */
.dark .table-striped tbody tr:nth-of-type(odd) {
    background: #232222;
    color: var(--bs-gray);
}

.dark .table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: var(--bs-table-striped-bg);
    color: #949aa0;
}

.dark .table {
    color: #fff;
}
.dark .clinicaname{
    border-left: 1px solid var(--white);
    
}
.dark .topbar{
    background-color: var(--fondo-negro);
    
}


/* tab-content */

.dark .tab-content-set .active{
    color: var(--base);
    border-bottom: 2px solid var(--base);
    border-bottom-width: 80%;
    text-align: center;
}

.dark .tab-content-set{
    color: var(--white);
}

.dark b {
    color: var(--white);
}
.dark .navbarM a.active {
    background: #9c9a9a;
    color: #fff;
}
.dark .tab-content-set li a {
    color: #fff;
}
.dark .btn-sm {
    color: #fff;
    border:1px solid #fff;
}
.dark .info_local {
    color: #fff;
}

/* accordion */
.dark .accordion-item{
    background: var(--fondo-negro);
    color:  var(--white);
}
.dark .accordion-button:not(.collapsed) {
    color: var(--white);
    background-color: #101010;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}
.dark .accordion-item .accordion-button {
    color: var(--white);
    background-color: #101010;
}
.dark .accordion-button {
    color: #ffffff;
    background-color: #282828;
    
}

.dark .accordion-body {
    background: #201f1f;
}
.dark .recibo,
.dark .legall,
.dark .legall h2,
.dark .legall p {
    color: var(--white);
}

.dark .recibo h3{
    color: var(--white);
}
.dark .pago p{
    color: var(--white);
}


.dark .backbotton{
    color: var(--white) !important;
    background-color: var(--fondo-negro) !important;
}


.dark .option-admin i{
    border: 1px solid var(--gris);
}

.dark .user .itemFav img {
    border: none;
    background-color: #0000;
    box-shadow: none;
    filter: drop-shadow(2px 4px 6px black);
}
.dark .itemFav .fa{
    color: var(--gris);
}

.dark .menu-footer ul li a .fa-search {
    box-shadow: none;
    color: var(--gris);
    background-color: var(--fondo-negro);
    border: 3px solid var(--gris);
    filter: drop-shadow(2px 4px 6px black);
}

.dark .user-header-top img {
    filter: opacity(0.5);
}


.dark .shadowSearch {
    border: 1px solid #333;
    background-color: var(--fondo-negro);
    
    border-radius: 14px;
    box-shadow: none;
    margin-bottom: 30px;
    padding: 15px;
    filter: drop-shadow(2px 4px 6px black);
}
.dark label {
    color: var(--white);
}
.dark .modal-content {
    background-color: var(--fondo-negro) !important;
    border: 1px solid #ccc;
    color: var(--white);
}

.dark .back .fa {
    color: var(--gris);
}

/* .dark .left-image{
    filter: invert();
} */

.dark .back h1::before {
    border-top: 1px solid var(--gris);
}

.dark .categorylist h2 {
    background-color: #000;
    color: var(--fondo-footer);
    border: 1px solid #333;
}

.dark .label__name{
    color: #000 !important;
}
/* input */
.dark.input:where(:focus,:not(:placeholder-shown)) + .dark .label__name{
    transform: translateY(-50%) scale(.7);
    background-color: var(--fondo-negro) !important;
    color: #fff;
}

.dark input.form-control,
.dark textarea.form-control {
    background-color: #393939;
    color: var(--white);
}
.dark .bg-light {
    background-color: #393939 !important;
} 

.dark .preloader,
.dark body,
.dark .body,
.dark html{
    background: var(--fondo-negro) !important;
}
