<!-- =======| Main |======= -->


<div class="container animated fadeInUp" id="main" class="main" role="main" name="profile" *ngIf="userprofile">

    <div class="col-xs-12">
        <app-backbreadcum [title]="title"></app-backbreadcum>
        <div class="clear"></div>

        <section class="section profile">
            <div class="row">
                <div class="col-xl-3">

                    <div class="card border-radio shadow">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                            <h2>{{userprofile.name}}</h2>
                            <p>{{userprofile.email}}</p>

                            <span class="badge bg-dark-light"
                                *ngIf="userprofile.roles.name === 'SUPERADMIN'">SuperAdmin</span>
                            <span class="badge bg-primary" *ngIf="userprofile.roles.name === 'ADMIN'">Admin</span>
                            <span class="badge bg-success" *ngIf="userprofile.roles.name === 'PARTNER'">Partner</span>
                            <span class="badge bg-secondary" *ngIf="userprofile.roles.name === 'GUEST'">Invitado</span>
                            <button class="btn btn-outline-primary pull-right"
                        [routerLink]="['/dashboard/partner/edit', userprofile.id]">Editar</button>
                        </div>
                    </div>

                </div>

                

                <div class="col-xs-12 col-sm-12 col-md-9 col-xl-9">

                    <div class="card border-radio">
                        <div class="card-body pt-3">
                            <!-- Bordered Tabs -->
                            <div *ngIf="userprofile?.role === 'GUEST'">
                                <ul class="nav nav-tabs nav-tabs-bordered">

                                    <li class="nav-item">
                                        <button class="nav-link active" data-bs-toggle="tab"
                                            data-bs-target="#profile-overview">Detalles</button>
                                    </li>
                                    <!-- <li class="nav-item">
                                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Cambiar
                    Contraseña</button>
                                    </li> -->

                                </ul>

                            </div>

                            <div>
                                <ul class="nav nav-tabs nav-tabs-bordered">
                                    <li class="nav-item">
                                        <button class="nav-link active" (click)="optionSelected(1)"
                                            [ngClass]="{'active': option_selected === 1}" data-bs-toggle="tab"
                                            data-bs-target="#profile-overview">Detalles</button>
                                    </li>
                                    <li class="nav-item">
                                        <button class="nav-link" (click)="optionSelected(2)"
                                            [ngClass]="{'active': option_selected === 2}" data-bs-toggle="tab"
                                            data-bs-target="#hijos">Eventos</button>
                                    </li>
                                    <li class="nav-item">
                                        <button class="nav-link" (click)="optionSelected(3)"
                                            [ngClass]="{'active': option_selected === 3}" data-bs-toggle="tab"
                                            data-bs-target="#pagos">Pagos</button>
                                    </li>
                                </ul>

                            </div>
                            <div class="tab-content pt-2">
<!-- Detalles -->
                                <div class="tab-pane fade show active profile-overview" *ngIf="option_selected === 1 "
                                    id="profile-overview">

                                    <br />

                                    <div class="row">

                                        <div class="col-xs-6 col-sm-6">
                                            <div class="col-md-4 label ">
                                                <i class="bi bi-person-circle"></i> Username
                                            </div>
                                            <p>{{userprofile?.name}} {{userprofile?.surname}}</p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6">
                                            <div class="col-md-4 label"><i class="bi bi-envelope"></i> Email</div>
                                            <p>{{userprofile?.email}}</p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6">
                                            <div class="col-md-4 label"><i class="bi bi-envelope"></i> Id/CI</div>
                                            <p>{{userprofile?.n_doc}}</p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6">
                                            <div class="col-md-4 label"><i class="bi bi-envelope"></i> Teléfono</div>
                                            <p>{{userprofile?.mobile}}</p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6">
                                            <div class="col-md-4 label"><i class="bi bi-envelope"></i> Nacimiento</div>
                                            <p>{{userprofile?.birth_date|date}}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6">
                                            <div class="col-md-4 label"><i class="bi bi-bank2"></i> Dirección</div>
                                            <p>{{userprofile?.address}}</p>
                                        </div>
                                    </div>
                                    <!-- <app-statuspagos [userprofile]="userprofile"></app-statuspagos> -->





                                </div>
                                <!-- Eventos -->
                                <div class="tab-pane fade show active profile-overview" *ngIf="option_selected === 2 "
                                    id="hijos">

                                    <br />

                                    <div class="row">
                                        <app-listahijos [userprofile]="userprofile"></app-listahijos>
                                    </div>
                                </div>
                                <!-- Pagos -->
                                <div class="tab-pane fade show active profile-overview" *ngIf="option_selected === 3 "
                                    id="pagos">

                                    <br />

                                    <div class="row">

                                        <!-- <app-listapayments [userprofile]="userprofile"></app-listapayments> -->
                                    </div>
                                </div>


                            </div>
                            <!-- End Bordered Tabs -->

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

</div>

<!--/main-->