.imagecircle{
    width:80px; 
    height:80px;
    overflow: hidden;
    padding: 2px;
    border: 1px solid #ccc;
    margin-top: 5px;
    border-radius: 100px;
}

.fotoeditprofile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}