<div class="container">

    <app-loading *ngIf="isLoading"></app-loading>
    <div class="row">
        <div class="col-xs-12">
            <!-- buscador -->
            <form class="form-horizontal">
                <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                    <div class="input-group">
                        <input type="search" name="search" type="text" class="form-control col-xs-12"
                            placeholder="Buscar.." [(ngModel)]="query" aria-describedby="button-addon1"
                            class="form-control border-0 bg-light">
                        <div class="input-group-append">
                            <button id="button-addon1" type="submit" class="btn btn-link text-primary circle"
                                (click)="search()" name="submit" data-toggle="tooltip" title="mostrar todos"><i
                                    class="fa fa-search"></i></button>
                            <a href="javascript:;" (click)="PageSize()"
                                class="btn btn-primary doctor-refresh ms-2 circle"><i class="fa fa-refresh"></i></a>
                        </div>
                    </div>
                </div>
            </form>
            <!-- buscador -->
        </div>
    </div>
    <div class="card recent-sales overflow-auto" *ngIf="!isLoading">

        <div class="card-body">

            <table class="table table-borderless datatable table-striped">
                <thead>
                    <tr>
                        <th>image</th>
                        <th>Usuario</th>
                        <th>Id</th>
                        <th>Email</th>
                        <th class="text-nowrap">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="border-left: 2px solid cornflowerblue; border-spacing: 2px;"
                        *ngFor="let partner of filteredClients  |  paginate: { itemsPerPage: count, currentPage: p } let i = index;">


                        <td><a [routerLink]="['/dashboard/partner/detail/', partner.id]">
                                <img [src]="partner?.avatar| imagenPipe: 'clients' " class=" shadow"
                                    style="width: 45px; height: 45px; border-radius: 100px;" alt="">
                            </a>
                        </td>
                        <td><a [routerLink]="['/dashboard/partner/detail/', partner.id]">{{partner.name}}</a></td>
                        <td>{{partner.n_doc}} </td>
                        <td>{{partner.email}} </td>
                       
                        <td>
                            <button class="btn btn-outline-danger" 
                                (click)="removeColab(partner)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>

                    </tr>
                </tbody>

            </table>

            <pagination-controls (pageChange)="p = $event"></pagination-controls>

        </div>

    </div>

    <!-- Button trigger modal -->




</div>