<div class="col-12 animated fadeInUp ">
    <div class="card  shadow" style="border-radius: 14px;">
        <div class="card-body ">
            <div class="cardtop">
                <div class="">
                    <h3 class="text-themecolor">{{title}}</h3>
                </div>

            </div>

        </div>
    </div>
</div>
<app-notificador *ngIf="role === 'SUPERADMIN' || role === 'ADMIN'"></app-notificador>

<div *ngIf="role === 'GUEST' ">
    <div class="row animated fadeInUp">
        <div class="col-xs-12 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h3>Info Perfil</h3>
                    <p>Solicita la Actualización de Usuario con el Administrador</p>
                </div>
            </div>
        </div>
    </div>


</div>
<div *ngIf="role === 'PARTNER' ">
    <div class="row animated fadeInUp">
        <div class="col-xs-12 col-sm-8">

            <div class="col-6 col-sm-6  ">
                <div class="card d-flex justify-content-center shadow">
                    <a routerLink="../dashboard/ticket/verify">
                        <div class="card-body cuadroicondatos" style=" border-left: green 2px solid;">
                            <i class="fa fa-line-chart fa-2x"></i>
                            <p>Verificar Ticket</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 p-3">
                <a [routerLink]="['/dashboard/evento/create']" class="cursor" data-toggle="tooltip"
                    data-original-title="Edit">
                    <div class="btn btn-outline-success"><i class="fa fa-edit"></i> Crear Evento</div>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-4 ">
            <div class="card shadow" style="padding: 10px; border-left: green 2px solid;">
                <app-tasadiabcv></app-tasadiabcv>
            </div>
        </div>
    </div>
    <app-listahijos [userprofile]="userprofile"></app-listahijos>

</div>


<div class="row animated fadeInUp" *ngIf="role === 'SUPERADMIN' || role === 'ADMIN'">
    <div class="col-xs-12 col-sm-8">
        <div class="row">
            <div class="col-6 col-sm-6  ">
                <div class="card d-flex justify-content-center shadow">
                    <a routerLink="../dashboard/clientes">
                        <div class="card-body cuadroicondatos" style=" border-left: green 2px solid;">
                            <i class="fas fa-id-card fa-2x"></i>
                            <p>Clientes: {{clients_nodeuda}}</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-6  ">
                <div class="card d-flex justify-content-center shadow">
                    <a routerLink="../dashboard/eventos">
                        <div class="card-body cuadroicondatos" style=" border-left: green 2px solid;">
                            <i class="fa fa-star fa-2x"></i>
                            <p>Eventos: {{total_events}}</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-6  ">
                <div class="card d-flex justify-content-center shadow">
                    <a routerLink="../dashboard/ticket/verify">
                        <div class="card-body cuadroicondatos" style=" border-left: green 2px solid;">
                            <i class="fa fa-qrcode fa-2x"></i>
                            <p>Verificar Ticket</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-6  ">
                <div class="card d-flex justify-content-center shadow">
                    <a routerLink="../dashboard/partners">
                        <div class="card-body cuadroicondatos" style=" border-left: green 2px solid;">
                            <i class="fas fa-handshake fa-2x"></i>
                            <p>Partners</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-6  ">
                <div class="card d-flex justify-content-center shadow">
                    <a routerLink="../dashboard/payments">
                        <div class="card-body cuadroicondatos" style=" border-left: green 2px solid;">
                            <i class="fas fa-money-bill fa-2x"></i>
                            <p>Pagos</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 p-3">

                <button (click)="openEditModal()" class="btn btn-outline-success" data-toggle="tooltip"
                    data-original-title="Edit" data-bs-toggle="modal" data-bs-target="#editEvent">
                    <i class="fa fa-plus"></i> Crear Evento
                </button>
            </div>
        </div>
    </div>



    <div class="col-12 col-sm-4 col-md-4 ">
        <div class="card shadow" style="padding: 10px; border-left: green 2px solid;">
            <app-tasadiabcv></app-tasadiabcv>
        </div>
    </div>
    <app-recentpayments></app-recentpayments>
</div>
<app-evento-edit [eventSeleccionado]="eventSeleccionado" (closeModal)="onClose()" #editEvent></app-evento-edit>