<!-- <div class="row page-titles">
    <div class="col-12 animated fadeInLeft">
        <div class="card cardtop">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-10 align-self-center">
                        <h3 class="text-themecolor">{{pageTitle}}</h3>
                    </div>
                    <div class="col-12 col-sm-2">
                        <button class="btn btn-outline-danger" href="javascript:void(0)"
                            (click)="goBack()">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<app-backbreadcum [title]="title"></app-backbreadcum>




<div class="row">
    <div class="col-12 animated fadeInUp">
        <div class="card">
            <div class="card-body slider-form">
                <div *ngIf="loading" class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <p>Cargando información...</p>
                </div>
                <form [formGroup]="companyForm" method="POST" (ngSubmit)="onSubmit()" class="form-horizontal form-material" *ngIf="!loading">

                    <div class="row">

                        <div class="form-group col-xs-12 col-sm-6">
                            <label class="col-md-3">Título <span class="text-danger">*</span></label>
                            <div class="">
                                <input type="text" formControlName="name" class="form-control" placeholder="Title">
    
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-row">
                        <label class="col-md-3">Descripción </label>
                        <div class="col-xs-12">
                            <!-- <ckeditor [(data)]="editorData" formControlName="description"  class="form-control"> </ckeditor> -->
                            <textarea formControlName="description" class="form-control" rows="5"></textarea>
                        </div>
                    </div>

                    <div class="row">
                       
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group form-row">
                                <label class="col-12">Imagen Fondo (peso max: 500kb | medidas max:
                                    1920x1080px)</label>
                                <div class="col-md-9">
                                    <!-- Foto -->
                                    <div class="form-group local-top-form">
                                        <div class="settings-btn upload-files-avator">
                                            <label for="file" class="upload labelgoogle">
                                                <input type="file" accept="image/*" name="image" id="file" (change)="loadFile($event)" class="hide-input input">
                                                <span class="label__name">
                                                    {{'Select a Photo'}}
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <img [src]="company?.avatar | imagenPipe: 'companies'" class=" shadow" style="width: 100%; height: auto;">
                                    <div *ngIf="FILE_AVATAR">
                                        <img [src]="IMAGE_PREVISUALIZA | imagenPipe: 'companies'" style="width: 250px;" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label class="col-md-3"></label>
                            <div class="col-md-9">
                                <input type="hidden" formControlName="id">
                                <button type="submit" [disabled]="!companyForm.valid"
                                    class="btn btn-outline-success">Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
            {{error}}
        </div>
    </div>
</div>